* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono";
}

:root {
  --primary-color: #9FE8DF;
  --secondary-color: #00474b;
  --border-color: #c77f6c;
  --text-color: #fff;
  --input-color: #F3F8FB;
  --black-colo: #000;
  --gray-color: #969595;
}
body {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  overflow: hidden;
}
.splitter{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  letter-spacing: 15px;
  color: var(--secondary-color);
}
.container {
  width: 55%;
  height: 400px;
  background-color: var(--text-color);
  margin: 1% auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.article{
  width: 100%;
  height: 350px;
  display: flex;
  gap: 20px;
}
.article .col1{
  width: 50%;
  height: 350px;
  padding: 10px;
}
.col1 .select{
  margin-bottom: 7px;
}
.col1 .input1{
  width: 96%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  background-color: var(--input-color);
  outline-color: var(--primary-color);
  color: var(--secondary-color);
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 17px;
  text-align: right;
  font-weight: 600;
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 10px 11px;
}
.button-div{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 0.5em;
}
.button-div>button{
  padding: 6px;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}
.button-div button:hover{
  background-color: var(--primary-color);
  color: var(--black-colo);
}
.button-div .input2{
  text-align: right;
  height: 39px;
  font-size: 20px;
  font-weight: 600;
  color: var(--black-colo);
  outline-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.input2::placeholder{
  text-align: center;
}

.text-wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  grid-gap: 5em;
  margin-top: 20px;
  margin-bottom: 5px;
}
.col1 .input3{
  width: 96%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  background-color: var(--input-color);
  outline-color: var(--primary-color);
  font-size: 17px;
  text-align: right;
  font-weight: 600;
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 10px 11px;
  color: var(--secondary-color);
}
/*-------------------------Column2----------------------*/
.article .col2{
  width: 50%;
  height: 350px;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 10px;
  padding: 0 20px;
}
.wrapper{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 12px;
  grid-gap: 2em;
  margin-top: 20px;
  margin-bottom: 5px;
}
.sub-col1 .title{
  color: var(--text-color);
  font-size: 18px;
}
.sub-col1 .person{
  color: var(--primary-color);
  margin-bottom: 25px;
}

.sub-col2 .numb{
  font-size: 38px;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 10px;
}
.sub-col2 .numb2{
  margin-bottom: 0;
}
.col2 button{
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  padding: 4px;
  cursor: pointer;
  margin-top: 50%;
  border-radius: 3px;
}
.col2 button:hover{
  background-color: #b9e5e1;
}
.attribution{
  text-align: center;
}